h2{
    display: flex;
    align-items:center;
    justify-content:center;
    color:rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    font-size: 80px;
    text-align: center;
    border-radius: 20px;
    text-shadow: #000 1px 0 10px;
    }

